[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rasterbc"]
	path = rasterbc
	url = https://github.com/deankoch/rasterbc
[submodule "snapKrig"]
	path = snapKrig
	url = https://github.com/deankoch/snapkrig
